<h1>Listing covers</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Parent</th>
    <th>Size</th>
    <th>Width</th>
    <th>Height</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Thumbnail</th>
  </tr>

<% for cover in @covers %>
  <tr>
    <td><%=h cover.book_id %></td>
    <td><%=h cover.parent_id %></td>
    <td><%=h cover.size %></td>
    <td><%=h cover.width %></td>
    <td><%=h cover.height %></td>
    <td><%=h cover.content_type %></td>
    <td><%=h cover.filename %></td>
    <td><%=h cover.thumbnail %></td>
    <td><%= link_to 'Show', cover %></td>
    <td><%= link_to 'Edit', edit_cover_path(cover) %></td>
    <td><%= link_to 'Destroy', cover, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cover', new_cover_path %>
