<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Atria Books Galley Alley</title>
  <meta name="description" content="Atria Books Galley Alley: For Booksellers, Reviewers and Trade Only. Choose up to 3 books,
we'll ship them for free! Limited quantities are available." />
  <meta name="keywords" content="Galley, Galley Alley, Atria, Atria Books, Booksellers, Reviewers, BEA, Book Expo of America, Advance Reading Copy, Advanced Readers Copy, Bound Galley, BoomBox" />
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'modalbox' %>
  <%= stylesheet_link_tag 'reset' %>
  
  <%= stylesheet_link_tag 'modalbox' %>
  <%= stylesheet_link_tag 'bookcase' %>
</head>
<body>
<div id="container">
	

<%= yield  %>


</div>

</body>
</html>